<!-- Random Books -->
<div class="col-12 mb-4">
    <div class="container-fluid" style="max-width: 1600px;">
        <turbo-frame id="random-books">
            {% include '_random_books_frame.html.twig' %}
        </turbo-frame>
    </div>
</div>